.catalog {
  display: grid;
  justify-content: center;
  gap: $gapCatalog;
  max-width: 944px;
  margin: 0 auto;

  @media (min-width: $widthSmallScreen) {
    grid-template-columns: repeat(2, $cardWidth);
  }

  @media (min-width: $widthMediumScreen) {
    grid-template-columns: repeat(3, $cardWidth);
  }

  @media (min-width: $widthLargeScreen) {
    grid-template-columns: repeat(4, $cardWidth);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $cardWidth;
    height: $cardHeight;
    border: 1px solid #ccc;
    border-radius: 5px;

    cursor: pointer;
    transition: transform 0.3s, color 0.3s;

    &:hover {
      transform: scale(1.2);
      color: #34568b;
    }
  }
}
